<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/default.css">
    <title>Notation</title>
</head>
<body>
    <header>
        <div id="account-info">
            <p id="account-name">{{user.name}}</p>
            <p id="page-count">{{user.noteCount}}</p>
        </div>
        <div id="account-management">
            <button type="button" id="write">Write new Note</button>
            <button type="button" id="logout">Sign Out</button>
        </div>
    </header>
    <main>
        <h2>작성 노트 목록</h2>
        <div id="note-list">
            {% for note in notes %}
                <div class="note-container">
                    <p>{{note.title}}</p>
                    <a href="/note/{{note.id}}">열기</a>
                    <input type="button" name="delete" value="삭제">
                    <input type="button" name="edit" value="수정">
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>