/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    color: #333;
}

header {
    background-color: #6A24FE;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header #account-info {
    font-size: 16px;
}

header #account-info p {
    margin: 0;
    line-height: 1.5;
}

header #account-management {
    display: flex;
    gap: 10px;
}

header #account-management button {
    padding: 10px 20px;
    background-color: #fff;
    color: #6A24FE;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

header #account-management button:hover {
    background-color: #6A24FE;
    color: #fff;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
    text-align: center;
}

#note-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-container {
    background-color: #F8F8F8;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-container p {
    font-size: 18px;
    margin: 0;
    flex: 1;
}

.note-container a {
    color: #6A24FE;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
}

.note-container input[type="button"] {
    padding: 8px 12px;
    background-color: #fff;
    color: #6A24FE;
    border: 1px solid #6A24FE;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.note-container input[type="button"]:hover {
    background-color: #6A24FE;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #D2D2D2;
}
